<%- include('partials/header'); -%>

<h1>Contact</h1>
<p>Hi! My name is Henry and I'm a webdev student! You can find out more about me on my github at the bottom of the page!</p>

<%- include('partials/footer'); -%>
